.about {
  margin-top: 7%;
}

.about h1 {
  text-align: center;
}

.about p {
  font-size: 20px;
  margin-left: 30%;
  margin-top: 75px;
  margin-right: 30%;
  text-align: center;
}

.about-more {
  margin-top: 10%;
}
@media screen and (max-width: 500px) {
  .about p {
    margin-top: 0;
  }
}
