.chart {
  margin-left: 20%;
  margin-top: 5%;
  width: 72%;
}

.chart p {
  margin-left: 20px;
  font-weight: 400;
  text-align: center;
}



@media screen and (max-width: 1000px) {
  .chart {
    margin-left: 7%;
    /* margin-top: 5%; */
    width: 90%;
  }

  
}

@media screen and (max-width: 831px) {
  .chart {
    margin-left: 3%;
    /* margin-top: 5%; */
    width: 96%;
}

  
}

@media screen and (max-width: 755px) {
  .chart {
    margin-left: 3%;
    /* margin-top: 5%; */
    width: 96%;
}

  
}
