header {
  position: absolute;
  z-index: 1000;
  top: 15px;
}

.logo-container h1 {
  font-size: 16px;
  margin-top: 13px;
  margin-left: 20px;
}
.logo-container {
  display: flex;
  align-items: center;
}
.logo-container a {
  margin-left: 15%;
}
.logo {
  margin-top: 7px;
}
.menu {
  margin-left: 64px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
h3 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
}

h3:hover {
  border-bottom: 2px solid #ffffff;
}
